<table border="2">
    <tr>
        <td>
            id
        </td>
        <td>
            username
        </td>
        <td>
            email
        </td>
    </tr>
{% for a in result %}
<tr>
<td>{{a.id}}</td>
<td>{{a.username}}</td>
<td>{{a.email}}</td>
</tr>
{% endfor %}
</table>
<a href="{{path('addauth')}}">add author </a>